<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<head>
<meta charset="UTF-8">
<title>Chart.js</title>
<!-- <link rel="stylesheet" th:href="@{/css/style.css}"/> -->
<!-- Bootstrap CSS -->
<th:block layout:fragment="css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
</th:block>
</head>
<body>
    <div class="container" layout:fragment="content">
		<h1 class="mt-4"></h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">Chart.js sample</a></li>
		</ol>
    	<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-chart-bar"></i> 주가 차트
			</div>
			<div class="card-body">
				<canvas id="myAreaChart" width="100%" height="46%"></canvas>
			</div>
			<div class="card-footer small text-muted" th:text="'Updated '+${timestamp}">Updated yesterday at 11:59 PM</div>
		</div>
    </div>

	<th:block layout:fragment="script">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
	Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
	Chart.defaults.global.defaultFontColor = '#292b2c';

	var config = {
		type : 'bar',
		data : {
			datasets : [{
				type : 'line',
				fill : 'false',
				label : "시가",
				hidden: false,
				yAxisID: 'y-axis-1',
				backgroundColor : "rgba(200,0,0,1)",
				borderColor : "rgba(200,0,0,1)",
			}, {
				type : 'line',
				fill : 'false',
				label : "종가",
				hidden: false,
				yAxisID: 'y-axis-1',
				backgroundColor : "rgba(0,200,0,1)",
				borderColor : "rgba(0,200,0,1)",
			}, {
				type : 'bar',
				label : "거래량",
				yAxisID: 'y-axis-2',
				backgroundColor : "rgba(2,117,216,1)",
				borderColor : "rgba(2,157,236,1)",
			}],
		},
		options : {
			scales : {
				xAxes : [ {
					stacked: true,
					time : {
						unit : 'month'
					},
					gridLines : {
						display : true
					},
				} ],
				yAxes : [ {
					id: 'y-axis-1',
					ticks : {
						callback: function(label, index, labels) {
	                        return Intl.NumberFormat().format(label);
						}
					},
					gridLines : {
						display : true
					}
				}, {
					id: 'y-axis-2',
					position: 'right',
					ticks : {
						max: 200000000,
						callback: function(label, index, labels) {
	                        return Intl.NumberFormat().format(label);
						}
					},
					gridLines : {
						display : true
					}
				} ],
			},
			legend : {
				display : true
			},
			tooltips: {
		           mode: 'label',
		           label: 'mylabel',
		           callbacks: {
		               label: function(tooltipItem, data) {
		                   return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); }, },
			}
		}
	};
	
	var ctx = document.getElementById('myAreaChart').getContext('2d');
	window.myLine = new Chart(ctx, config); // 차트생성 후 값을 기억
	
	ajaxRequest("005930");
	
	function ajaxRequest(jongmokCode) {
		$.ajax({ // 데이터 조회
			url : "/chart/stockList.ajax",
			type : "GET",
			data : {
				'jongmokCode' : jongmokCode
			},
			success : function(data) {
				try {
					var dataArrDate = new Array();
					var dataArrOpen = new Array();
					var dataArrClose = new Array();
					var dataArrVolume = new Array();

					for (var i = 0; i < data.length; i++) {
						dataArrDate.push(data[i]['date']); //적용할 데이터 생성
						dataArrOpen.push(data[i]['open']);
						dataArrClose.push(data[i]['close']);
						dataArrVolume.push(data[i]['volume']);
					}

					window.myLine.config.data.labels = dataArrDate;
					window.myLine.config.data.datasets[0].data = dataArrOpen; // 차트에 데이터 적용
					window.myLine.config.data.datasets[1].data = dataArrClose;
					window.myLine.config.data.datasets[2].data = dataArrVolume;

					window.myLine.update(); //차트 반영 (실제 차트 업데이트)
				} catch (e) {
					this.error();
				    return;
				}
			},
			error : function() {
				alert("조회중 오류가 발생하였습니다.");
			}
		});
	}
    
	</script>
	</th:block>
</body>
</html>
