<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org" x
	mlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorator="layout/default_layout">

<head>
	<title>인하대학교</title>
</head>

<body id="page-top">
	<div class="container-fluid" layout:fragment="content">
		<br>
		<br>
		<h3 style="text-align:center">가입을 환영합니다.</h3>
		<br>
		<h5 style="text-align:center">이메일 인증이 완료 되었으니, 아래 로그인 버튼을 눌러 로그인하세요.</h5>
		<br>
		<div style="text-align:center">
			<button sec:authorize="isAnonymous()" type="button" class="btn btn-danger"
				onclick="location.href='/login/login.do'">로그인</button>
		</div>
		<br>
		<br>
	</div>
	<!-- /.container-fluid -->

	<th:block layout:fragment="script">
	</th:block>
</body>

</html>
