<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">  <!-- mebers에서 하나씩 꺼내서 member에 넣는다. 반복문 -->
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>